#ajuda {
   font-size: 80%;
   position: relative;
}
#ajuda ul{
   padding-left: 15px;
}
#ajudaBotao {
   position: relative;
   float: right;
   top: -43px;
   right: 15px;
   cursor: help;
}
#rodape table{
   border: 0;
   width: 100%;
   text-align: center;
}

#cabecario{
   text-align: center;
}
#cabecario img{
   height: 125px;
   width: auto;
}
#cabecario div{
   width: auto;
   margin: 0 25px 0;
}